**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/*.user
**/*.suo
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/dist/
**/logs/
**/tmp/
**/.git/
**/.github/
**/.dockerignore
**/.gitignore
**/.env
**/README.md
**/Doxyfile